<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="font-weight: 400;letter-spacing: 0;line-height: normal;margin-top: 9px;min-height: 22px;min-width: 539px;">Deferral Reminder!</div>
    <div style="letter-spacing: 0;line-height: 24px;margin-right: 35px;margin-top: 12px;min-height: 48px;min-width: 487px;">
      <label><div style="margin-bottom:20px;" th:text="${content}"></div></label>
    </div>
    <div style="font-weight: 400;letter-spacing: 0;line-height: normal;margin-top: 9px;min-height: 22px;min-width: 539px;">Type : <b><span th:text="${entityType}"></span></b></div>
    <div style="font-weight: 400;letter-spacing: 0;line-height: normal;margin-top: 9px;min-height: 22px;min-width: 539px;">Entity Name : <b><span th:text="${entityName}"></span></b></div>
    <div style="font-weight: 400;letter-spacing: 0;line-height: normal;margin-top: 9px;min-height: 22px;min-width: 539px;">RM Name : <b><span th:text="${rmName}"></span></b></div>
    <div style="height: 115px;min-width: 520px;">
      <table border="1">
        <tr>
          <td>File Name</td>
          <td><span th:text="${fileName}"></span></td>
        </tr>
        <tr>
          <td>Revised Date</td>
          <td><span th:text="${revisedTime}"></span></td>
        </tr>
<!--        <tr>-->
<!--          <td>Received Date</td>-->
<!--          <td><span th:text="${date}"></span></td>-->
        </tr>
      </table>
      <small style="color: #a39f9f;font-family: Kumbh Sans, Helvetica;font-size: 10px;font-weight: 400;letter-spacing: 0;line-height: normal;margin-right: 58px;">*Please consider this as soon as possible and take necessary option at earliest</small>
    </div>
    <div style="align-items: center;display: flex;gap: 133px;margin-right: 1px;margin-top: 35px;min-width: 521px;">
      <div style="font-family: Work Sans, Helvetica;font-size: 16px;font-weight: 400;left: 0;letter-spacing: 0;line-height: normal;">
        <label>
          Regards,
        </label><br>
        <label>
          Team Triton
        </label>
      </div>
      <div style="color: #b0aaaa;font-family: Work Sans, Helvetica;font-size: 10px;font-weight: 400;letter-spacing: 0;line-height: normal;margin-bottom: 3px;min-height: 15px;min-width: 296px;float: right;">Copyright reserved 2023 vivriti capital.com</div>
    </div>
</body>
</html>
