:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 13px;
  --font-size-xl: 18px;
  --font-size-xs: 12px;
  --font-size-xxs: 10px;
 
  --font-family-kumbh_sans: "Kumbh Sans", Helvetica;
  --font-family-work_sans: "Work Sans", Helvetica;
}
.worksans-medium-black-14px {
  color: var(--black);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.worksans-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
